﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script>
        var Setup = {
            login : '@Url.Action("Login", "MasterPage")',
            }
    </script>
</head>
<body>
</body>
</html>
